In [83]:
import pandas as pd 
import numpy as np 
import os 
import datetime as dt 
import json

In [84]:
os.getcwd()

'/Users/pietro/Documents/Project'

1. Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [85]:
file_path = '/Users/pietro/Documents/Project/trendingYT'

In [86]:
dfs = []

for filename in os.listdir(file_path):
    if filename.endswith(".csv.zst"):
        country = filename[:2]   
        filepath = os.path.join(file_path, filename)

        df_temp = pd.read_csv(filepath, compression = 'zstd', encoding='utf-8', encoding_errors = 'ignore')
        df_temp["country"] = country
        print(f'Processed {filename}')
        dfs.append(df_temp)

final_df = pd.concat(dfs, ignore_index=True)

Processed USvideos.csv.zst
Processed FRvideos.csv.zst
Processed MXvideos.csv.zst
Processed INvideos.csv.zst
Processed KRvideos.csv.zst
Processed JPvideos.csv.zst
Processed DEvideos.csv.zst
Processed CAvideos.csv.zst
Processed RUvideos.csv.zst
Processed GBvideos.csv.zst

In [87]:
final_df.sample(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
36503,mmP1aHJjJ-U,18.23.05,Black Panther's Costume Designer Breaks Down T...,Vanity Fair,24,2018-05-08T16:00:43.000Z,"black panther|""black panther costume""|""black p...",436782,19198,262,944,https://i.ytimg.com/vi/mmP1aHJjJ-U/default.jpg,False,False,False,"On this episode of Notes on a Scene, Black Pan...",US
308206,S1HsyMIFUrA,18.14.01,Продолжаем готовиться к возобновлению чемпионата,FC ROSTOV,17,2018-01-13T14:33:19.000Z,"Ростов|""Rostov""|""футбол""|""football""",3601,109,0,9,https://i.ytimg.com/vi/S1HsyMIFUrA/default.jpg,False,False,False,NaN,RU
369326,k2p9gsjcfQY,18.05.05,John Krasinski Responds to IGN Comments,IGN,24,2018-04-07T10:07:42.000Z,"IGN|""movie""|""Feature""|""Thriller""|""ign-comments...",728006,17941,223,708,https://i.ytimg.com/vi/k2p9gsjcfQY/default.jpg,False,False,False,IGN has one of the most active comments sectio...,GB
43988,6GM4tTRf14s,17.29.11,CES PETITS SONT-ILS A LA HAUTEUR ?! #TTC12 fea...,Coach Séan Garnier,24,2017-11-27T17:08:49.000Z,"séan""|""garnier""|""s3""|""freestyle""|""football""|""u...",64895,3230,38,295,https://i.ytimg.com/vi/6GM4tTRf14s/default.jpg,False,False,False,► INSCRIPTION : http://www.urbansoccer.fr/wp-c...,FR
268304,a8cBeNyZs4s,18.19.01,Father Subjects Kids to Sub-Zero Training ft. ...,JustKiddingNews,25,2018-01-18T23:30:01.000Z,"asian parenting|""extreme parenting""|""snowstorm...",68630,2663,64,330,https://i.ytimg.com/vi/a8cBeNyZs4s/default.jpg,False,False,False,A father has sparked controversy after subject...,CA

2. Extract all videos that have no tag.

In [88]:
#sostiuisco con NaN i [none] per tutto il dataframe e formatto la data 
final_df.replace('[none]', np.nan, inplace=True)
final_df['tags'] = final_df['tags'].replace('', np.nan)
final_df['trending_date'] = pd.to_datetime(final_df['trending_date'], format='%y.%d.%m')
df_noTAG = final_df[final_df['tags'].isna()]

In [89]:
print(f'There are {df_noTAG.shape[0]} videos that have no tags')

There are 37698 videos that have no tags

In [90]:
df_noTAG.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
42,NZFhMSgbKKM,2017-11-14,Dennis Smith Jr. and LeBron James go back and ...,Ben Rohrbach,17,2017-11-13T15:11:00.000Z,NaN,945,7,5,8,https://i.ytimg.com/vi/NZFhMSgbKKM/default.jpg,False,False,False,NaN,US
97,xfmipNU4Odc,2017-11-14,Edna's registered owner thought she was dead f...,Hope For Paws - Official Rescue Channel,15,2017-11-10T18:02:04.000Z,NaN,284666,16396,81,949,https://i.ytimg.com/vi/xfmipNU4Odc/default.jpg,False,False,False,Please donate $5 and help us save more lives:\...,US
133,X7flefV8tec,2017-11-14,"President Bill Clinton On Dictators, Democracy...",Team Coco,24,2017-11-09T02:37:49.000Z,NaN,366180,4364,4448,1997,https://i.ytimg.com/vi/X7flefV8tec/default.jpg,False,False,False,#ConanNYC Highlight: President Clinton talks a...,US
136,5x1FAiIq_pQ,2017-11-14,Alicia Keys - When You Were Gone,Alicia Keys,10,2017-11-09T15:49:21.000Z,NaN,95944,1354,181,117,https://i.ytimg.com/vi/5x1FAiIq_pQ/default.jpg,False,False,False,Find out more in The Vault: http://bit.ly/AK_A...,US
175,4d07RXYLsJE,2017-11-14,Sphaera - demonstrating interaction,Jenny Hanell,28,2017-11-04T20:48:16.000Z,NaN,1827,3,0,2,https://i.ytimg.com/vi/4d07RXYLsJE/default.jpg,False,False,False,NaN,US

3. For each channel, determine the total number of views

In [91]:
grouped = final_df.groupby('channel_title')
print(grouped.agg({
    'views': 'sum'
}).sort_values(by='views', ascending = False))

                            views
channel_title
ChildishGambinoVEVO   11016766510
Marvel Entertainment  10430605449
NickyJamTV             9479859505
Ozuna                  8623329509
ibighit                8205572221
...                           ...
NavylittleMonster             365
Videostendencias              302
No Comment TV                 284
Sport Life                    163
Alexander Redking             153

[37824 rows x 1 columns]

4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [92]:

excluded = final_df[((final_df['ratings_disabled'] == True) & (final_df['comments_disabled'] == True)) | 
                     (final_df['video_error_or_removed'] == True)]

In [93]:
print(f'{excluded.shape[0]} have been excluded from the data set')
final_df.shape[0]

2620 have been excluded from the data set

375942

In [94]:
excluded.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
1435,Kn5UgGQukYQ,2017-11-21,Breaking Bad's Bryan Cranston on Meeting Charl...,hudsonunionsociety,1,2016-10-14T21:14:51.000Z,"Breaking Bad|""Bryan Cranston""|""malcom in the m...",15058,0,0,0,https://i.ytimg.com/vi/Kn5UgGQukYQ/default.jpg,True,True,False,The Hudson Union www.hudsonunionsociety.com is...,US
1667,Kn5UgGQukYQ,2017-11-22,Breaking Bad's Bryan Cranston on Meeting Charl...,hudsonunionsociety,1,2016-10-14T21:14:51.000Z,"Breaking Bad|""Bryan Cranston""|""malcom in the m...",34207,0,0,0,https://i.ytimg.com/vi/Kn5UgGQukYQ/default.jpg,True,True,False,The Hudson Union www.hudsonunionsociety.com is...,US
1914,Kn5UgGQukYQ,2017-11-23,Breaking Bad's Bryan Cranston on Meeting Charl...,hudsonunionsociety,1,2016-10-14T21:14:51.000Z,"Breaking Bad|""Bryan Cranston""|""malcom in the m...",36137,0,0,0,https://i.ytimg.com/vi/Kn5UgGQukYQ/default.jpg,True,True,False,The Hudson Union www.hudsonunionsociety.com is...,US
2119,Kn5UgGQukYQ,2017-11-24,Breaking Bad's Bryan Cranston on Meeting Charl...,hudsonunionsociety,1,2016-10-14T21:14:51.000Z,"Breaking Bad|""Bryan Cranston""|""malcom in the m...",36579,0,0,0,https://i.ytimg.com/vi/Kn5UgGQukYQ/default.jpg,True,True,False,The Hudson Union www.hudsonunionsociety.com is...,US
2203,RK_B4Ez4_5Q,2017-11-25,Verizon 360 Live: The Macy’s Thanksgiving Day ...,Verizon,24,2017-11-23T19:51:07.000Z,"live stream|""360 video""|""fun videos for kids""|...",2618344,45197,2315,3332,https://i.ytimg.com/vi/RK_B4Ez4_5Q/default.jpg,False,False,True,"This year, we hid special offers throughout th...",US

In [95]:
print(f'Starting number of rows: {final_df.shape[0]}')
final_df = final_df.drop(excluded.index, errors='ignore')
final_df = final_df.reset_index(drop=True)
print(f'Final number of rows: {final_df.shape[0]}')
final_df.head(5)

Starting number of rows: 375942
Final number of rows: 373322

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,US
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US

5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [96]:
final_df = final_df.assign(LikesRatio = lambda x: np.where(x['dislikes'] == 0, x['likes'], x['likes'] / x['dislikes']))

In [97]:
final_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,LikesRatio
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US,19.395482
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US,15.812724
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,US,27.352126
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US,15.273273
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US,66.483157

6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [98]:
final_df['publish_time'] = pd.to_datetime(final_df['publish_time'])
final_df['start_interval'] = final_df['publish_time'].dt.floor('10min')
final_df['end_interval'] = final_df['start_interval'] + pd.Timedelta(minutes=10)
final_df['publish_interval'] = final_df['start_interval'].dt.strftime('%H:%M') + '-' + final_df['end_interval'].dt.strftime('%H:%M')
final_df.drop(columns=['start_interval', 'end_interval'], inplace=True)

In [99]:
final_df.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,LikesRatio,publish_interval
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13 17:13:01+00:00,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US,19.395482,17:10-17:20
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13 07:30:00+00:00,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US,15.812724,07:30-07:40
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12 19:05:24+00:00,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,US,27.352126,19:00-19:10
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13 11:00:04+00:00,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US,15.273273,11:00-11:10
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12 18:01:41+00:00,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US,66.483157,18:00-18:10

7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [102]:
analytics = final_df.groupby('publish_interval')
analytics.agg({
    'video_id': 'count', 
    'likes': 'mean', 
    'dislikes': 'mean', 
    
})

                  video_id         likes     dislikes
publish_interval
00:00-00:10           2897  61288.115637  3808.149465
00:10-00:20           1509  22748.138502  1449.836315
00:20-00:30           1241  21378.280419  1072.344883
00:30-00:40           1614  36853.560719   955.890954
00:40-00:50           1269  42198.623325  1909.301812
...                    ...           ...          ...
23:10-23:20           1554  22783.840412  1110.168597
23:20-23:30           1438  30696.510431  1177.020862
23:30-23:40           1666  18159.173469   874.184874
23:40-23:50           1466  45736.581855  9341.549795
23:50-00:00           1269  10853.743893   505.701340

[144 rows x 3 columns]

8. For each tag, determine the number of videos

In [101]:

all_tags = final_df['tags'].str.replace('"', '', regex=False).str.split('|').explode()
all_tags = all_tags[all_tags != '']
tag_counts = all_tags.value_counts().reset_index()
tag_counts.columns = ['tag', 'num_videos']
print(tag_counts)

                 tag  num_videos
0              funny       15039
1             comedy       12351
2               2018       11371
3               news        6363
4              music        5909
...              ...         ...
849295      불닭볶음면 요리           1
849296      불닭볶음면 일본           1
849297  불닭볶음면 먹방 외국인           1
849298    불닭볶음면 asmr           1
849299    straw hand           1

[849300 rows x 2 columns]

9. Find the tags with the largest number of videos

In [103]:
maxNumber = tag_counts['num_videos'].max()
max_tag = tag_counts[tag_counts['num_videos'] == maxNumber]['tag'][0]
print(f'the tag with the largest numer of videos is: {max_tag}')

the tag with the largest numer of videos is: funny

In [107]:
print('the best 10 tags are:')
tag_counts.head(10)

the best 10 tags are:

          tag  num_videos
0       funny       15039
1      comedy       12351
2        2018       11371
3        news        6363
4       music        5909
5        2017        5688
6       video        5612
7       humor        5057
8  television        4170
9        show        4146

 10. For each (tag, country) pair, compute average ratio likes/dislikes

In [112]:
#creation of a temporary df to avoid memory problems --> expoding the tags column will create a large number of additional rows 
temp_df = final_df[['tags', 'likes', 'dislikes', 'country', 'LikesRatio']].copy()
temp_df.dropna(subset=['tags'], inplace=True)
temp_df['tag'] = temp_df['tags'].str.split('|')
temp_df = temp_df.explode('tag')
temp_df = temp_df[temp_df['tag'] != '']   #before adding this line i had an empty tag per contry in the groupby --> possible presence of '||'
group = temp_df.groupby(['tag', 'country'])
aggr = group.agg({
    'LikesRatio': 'mean'
})
print('Sorted')
aggr.sort_values(by='LikesRatio', ascending = False)

Sorted

                                    LikesRatio
tag                      country
"likethat"               GB       59188.692483
"吴亦凡"                    GB       59188.692483
"Wu Yi Fan"              GB       59188.692483
"like that"              GB       59188.692483
"kw"                     GB       59188.692483
...                                        ...
"June 11th 2018"         JP           0.000000
"гороскоп 2018 козерог"  RU           0.000000
"гороскоп апрель 2018"   RU           0.000000
"гороскоп близнецы 2018" RU           0.000000
"гордон 112 последнее"   RU           0.000000

[1136779 rows x 1 columns]

In [113]:
print('Not Sorted')
aggr

Not Sorted

                                                            LikesRatio
tag                                                country
 #Freeticket"                                      IN         2.665679
 #GST                                              IN         2.416896
 #Jaisimha                                         IN         2.665679
 #JanaSenaParty                                    IN        17.621907
 #MahaaNews"                                       IN         8.511947
...                                                                ...
ＴＨＥカラオケ★バトル                                        JP         7.450000
ｓ１３                                                JP        15.335714
🍊 Exatlón México 🍉 programa 🍒 88 EP4-👢 14/02/2018🍅 MX         5.750000
🔥BROMA A FALCONY EL SUSTO DE SU VIDA🔥              MX       128.516035
🚀 smartpixel.com.ua                                RU         0.714286

[1136779 rows x 1 columns]

11. For each (trending_date, country) pair, the video with the largest number of views

In [114]:
most_viewed = final_df.loc[final_df.groupby(['trending_date', 'country'])['views'].idxmax()]
most_viewed[['trending_date', 'country', 'video_id',  'views']]

       trending_date country     video_id     views
253286    2017-11-14      CA  2Vv-BfVoq4g  33523622
212717    2017-11-14      DE  2Vv-BfVoq4g  33523622
40993     2017-11-14      FR  2Vv-BfVoq4g  33523622
334705    2017-11-14      GB  2Vv-BfVoq4g  33523622
121447    2017-11-14      IN  ePO5M5DE01I  35885754
...              ...     ...          ...       ...
212558    2018-06-14      JP       #NAME?   4427381
192687    2018-06-14      KR       #NAME?   4427381
121357    2018-06-14      MX  gPHVLxm8U-0   5829270
334510    2018-06-14      RU  i63jWjoAWHE   6597033
40740     2018-06-14      US  xTlNMmZKwpA  94254507

[1967 rows x 4 columns]

12. Divide trending_date into three columns: year, month, day

In [115]:
final_df['trending_date_tmp'] = final_df['trending_date'].dt.strftime('%Y-%m-%d').str.split('-')

In [116]:
final_df[['year', 'month', 'day']] = pd.DataFrame(final_df['trending_date_tmp'].tolist(), index=final_df.index)
final_df.drop('trending_date_tmp', axis='columns', inplace=True)

In [117]:
final_df.head(5)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,comments_disabled,ratings_disabled,video_error_or_removed,description,country,LikesRatio,publish_interval,year,month,day
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13 17:13:01+00:00,SHANtell martin,748374,57527,2966,...,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US,19.395482,17:10-17:20,2017,11,14
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13 07:30:00+00:00,"last week tonight trump presidency|""last week ...",2418783,97185,6146,...,False,False,False,"One year after the presidential election, John...",US,15.812724,07:30-07:40,2017,11,14
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12 19:05:24+00:00,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,...,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,US,27.352126,19:00-19:10,2017,11,14
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13 11:00:04+00:00,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,...,False,False,False,Today we find out if Link is a Nickelback amat...,US,15.273273,11:00-11:10,2017,11,14
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12 18:01:41+00:00,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,...,False,False,False,I know it's been a while since we did this sho...,US,66.483157,18:00-18:10,2017,11,14

13. For each (month, country) pair, the video with the largest number of views

In [118]:
most_viewed = final_df.loc[final_df.groupby(['month', 'country'])['views'].idxmax()]
most_viewed[['month', 'country', 'video_id',  'views']]

       month country     video_id      views
264476    01      CA  LsoLEjrDogU   43067983
223647    01      DE  LsoLEjrDogU   37728802
51849     01      FR  LsoLEjrDogU   37728802
347406    01      GB  LsoLEjrDogU   90598955
133347    01      IN  dfnCAmr569k   42019590
...      ...     ...          ...        ...
126776    12      IN  FlsCjmMhFmw  125432237
163254    12      KR  FlsCjmMhFmw  113876217
86387     12      MX  FlsCjmMhFmw  100912384
298891    12      RU  FlsCjmMhFmw   52611730
6150      12      US  FlsCjmMhFmw  149376127

[77 rows x 4 columns]

14. Read all json files with the video categories

In [123]:
dfs = []

for filename in os.listdir(file_path):
    if filename.endswith(".json"):
        country = filename[:2] 
        filepath = os.path.join(file_path, filename)
        with open(filepath) as j:
            data = json.load(j)
    
            items_data = data['items']
            df_temp = pd.json_normalize(items_data)
            df_temp["country"] = country
            df_temp['kind'] = data['kind']
            df_temp['etag'] = data['etag']
            print(f'file {filename} processsed')
        dfs.append(df_temp)

categories_df = pd.concat(dfs, ignore_index=True)
categories_df = categories_df.rename(columns = {'id': 'category_id'})
categories_df.head(5)

file IN_category_id.json processsed
file RU_category_id.json processsed
file JP_category_id.json processsed
file FR_category_id.json processsed
file GB_category_id.json processsed
file KR_category_id.json processsed
file MX_category_id.json processsed
file CA_category_id.json processsed
file US_category_id.json processsed
file DE_category_id.json processsed

,kind,etag,category_id,snippet.channelId,snippet.title,snippet.assignable,country
0,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True,IN
1,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True,IN
2,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True,IN
3,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True,IN
4,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True,IN

15. For each country, determine how many videos have a category that is not assignable.

In [124]:

categories_df['category_id'] = categories_df['category_id'].astype('int64')    #it had object type before so the merging was failing 
final_df = pd.merge(final_df, categories_df, on=['category_id', 'country'])

In [125]:
final_df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,...,LikesRatio,publish_interval,year,month,day,kind,etag,snippet.channelId,snippet.title,snippet.assignable
0,2kyS6SvSYSE,2017-11-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13 17:13:01+00:00,SHANtell martin,748374,57527,2966,...,19.395482,17:10-17:20,2017,11,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...",UCBR8-60-B28hp2BmDPdntcQ,People & Blogs,True
1,1ZAPwfrtAFY,2017-11-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13 07:30:00+00:00,"last week tonight trump presidency|""last week ...",2418783,97185,6146,...,15.812724,07:30-07:40,2017,11,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
2,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12 19:05:24+00:00,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,...,27.352126,19:00-19:10,2017,11,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...",UCBR8-60-B28hp2BmDPdntcQ,Comedy,True
3,puqaWrEC7tY,2017-11-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13 11:00:04+00:00,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,...,15.273273,11:00-11:10,2017,11,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12 18:01:41+00:00,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,...,66.483157,18:00-18:10,2017,11,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370633,l884wKofd54,2018-06-14,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09 07:00:01+00:00,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,...,20.972229,07:00-07:10,2018,06,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...",UCBR8-60-B28hp2BmDPdntcQ,Music,True
370634,IP8k2xkhOdI,2018-06-14,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11 17:09:16+00:00,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,...,4.498803,17:00-17:10,2018,06,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...",UCBR8-60-B28hp2BmDPdntcQ,Music,True
370635,Il-an3K9pjg,2018-06-14,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08 11:05:08+00:00,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,...,44.402834,11:00-11:10,2018,06,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...",UCBR8-60-B28hp2BmDPdntcQ,Music,True
370636,-DRsfNObKIQ,2018-06-14,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08 20:32:32+00:00,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,...,3.310518,20:30-20:40,2018,06,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...",UCBR8-60-B28hp2BmDPdntcQ,Entertainment,True
370637,4YFo4bdMO8Q,2018-06-14,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11 04:06:35+00:00,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,...,66.682482,04:00-04:10,2018,06,14,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/1v2mrzYSYG6onNLt2...",UCBR8-60-B28hp2BmDPdntcQ,Music,True

In [126]:
count_false = (
    final_df.assign(is_false=final_df['snippet.assignable'] == False)
      .groupby('country')['is_false']
      .sum()
      .reset_index(name='count_false')
)

In [127]:
count_false

  country  count_false
0      CA          130
1      DE          110
2      FR          112
3      GB           20
4      IN          221
5      JP            0
6      KR          167
7      MX            3
8      RU          195
9      US           57